.header{
    background-color: rgb(109, 221, 124);
    color: white;
    font-family: Helvetica, "Times New Roman", Sans-serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

p{
    font-size: 23px;
    font-family: "Times New Roman", Tahoma, Helvetica, Sans-serif;
}

.list{
    font-size: 22px;
    font-family: Tahoma, "Times New Roman", Helvetica, Sans-serif;
}
